<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=d2ae5bcf-cb98-4bab-8402-a6cf014acbb7.sqlserver.sequelizer.com;Database=dbd2ae5bcfcb984bab8402a6cf014acbb7;User ID=dvhrbfmcnlirgiek;Password=3cy76BLkU2oLCwMxSQPWGbTLEzvZA3vSBMqkAqHPnf4j7YKiX58GNuZ2rVAEfUR2;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Replace" key="appId" value="596910127175947"/>
    <add xdt:Transform="Replace" key="appSecret" value="dcf8cf9c936bffbc8d201e9e2656364f"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
